{% extends 'base.twig' %}
{% set title = 'LojaVirutal' %}

{% block content %}
    <div class="py-5 text-center">
        <h1>Loja Virtual</h1>
        <p class="mt-5">
            Esta loja virtual faz parte do trabalho de conclusão dos alunos Bruno Silveira e Guilherme Battistella, do curso de Sistemas de Informação da Universidade do Sul de Santa Catarina (UNISUL),
            orientados pelo professor Flávio Ceci. <strong>Todos os produtos listados nesta loja são fictícios e você nunca irá recebê-los.</strong>
        </p>
        <a class="btn btn-primary btn-sm" href="/catalogo">Proceder a Loja</a>
    </div>
{% endblock %}